@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardChange[]>
@{
  Layout = "_Layout.cshtml";
}


@section Top{
    <div class="t_section">
        <h1>
            Change Request History <br /> 
            <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
        </h1>
    </div>
}