
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-image:url('../images/bg.png');
}
body {
  padding-top: 0px;

 }
footer {
  padding: 30px 0;
}

#sidebar {
width: 250px;
height: 200px;
margin: -100px 0px 0px -webkit-calc(100% - 280px);
position: absolute;
top: -4975px;
background: RGBa(99, 159, 217, 0.1);
display: block;
}

#arrow_container {
width: 250px;
height: 15px;
margin: -5px 0px 0px 0px;
position: absolute;
cursor: pointer;
}

#button {
width: 240px;
margin: 5px;
cursor: pointer;
text-decoration: none;
color: #999999;
}

#button:hover {
background: RGBa(99, 159, 217, 0.4);
}

.results{
  float:left;
  width:125px;
  height:300px;
  margin: 5px;
  padding: 5px;
  border:1px solid black;text-align:center;
  background-color:white;
}
.results:hover{
  background-color:#FFFBCC;
}

.scroll {
height: 20px;
margin: 0px 5px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 15px;
color: #999999;
text-align: left;
}

.arrow {
width: 10px;
height: 5px;
margin: 5px 0px 0px -webkit-calc(50% - 5px);
position: relative;
}

.dontown {
    /* Firefox 10+, Firefox on Android */
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");

    /* IE 6-9 */
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.setlist{
    list-style:none;
}

.symbol {
    width:  20px;
    height: 20px;
}

.t_section{
    background-image:url('../images/dark_fish_skin.png');
}

.book{
    background-image:url('../images/vertical_cloth.png');
}

#top_section {
    background-color:black;
    width:100%;
    margin-top:-20px;
    background-image:url('../images/dark_fish_skin.png');
}
/* navbar */
.navbar-primary .navbar { background:#CCCCCC; border-bottom: solid 1px; black; }
.navbar-primary .navbar .nav > li > a {color: #666666;}
.navbar-primary .navbar .nav > li > a {color: #666666;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #666666;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color:    #fff;background-color: #000;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#000; text-shadow: 1px 1px 1px #fff; font-weight:bold; }
.navbar-primary .navbar .nav.pull-right {margin-left: 10px;margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; } 
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 8px 8px;font-size: 16px;line-height: 18px; } 
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 7px; padding-bottom: 8px; line-height: 20px; } 


/* Example Styles for Demo */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.panel-container { margin-bottom: 10px; }

/* Styles for alternate tabActiveClass */
.tab.selected-tab { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.selected-tab { font-weight: bold; }

/* Styles for Tabs on Side */
#tab-side-container { background: #fff; border: solid 1px; height: 300px; }
#tab-side-container ul { height: 300px; list-style: none; margin: 0; padding: 0; background: #ccc; float: left; border-right: solid 1px; }
#tab-side-container ul li { width: 100px; margin: 0; padding: 0; text-align: center; }
#tab-side-container ul li a { display: block; padding: 15px 0; outline: none; }
#tab-side-container ul li a:hover { text-decoration: underline; }
#tab-side-container ul li.selected-tab { background: #fff; position: relative; left: 1px; border-style: solid; border-width: 1px 0; }
#tab-side-container ul li:first-child.selected-tab { border-top: none; }
#tab-side-container ul li a.selected-tab { font-weight: bold; text-decoration: none; }
#tab-side-container .panel-container { background: #fff; padding-top: 5px; padding-left: 120px; }

/* Styles for Tabs on Bottom */
#tab-bottom-container { width: 100%; padding: 0; clear: both; }
#tab-bottom-container ul { list-style: none; margin: 0; padding: 0; width: 100%; }
#tab-bottom-container ul li { float: left; width: 33.33%; margin: 0; padding: 0; text-align: center; border-top: solid 1px; }
#tab-bottom-container ul li a { display: block; padding: 15px 0; outline: none; }
#tab-bottom-container ul li a:hover { text-decoration: underline; }
#tab-bottom-container ul li.active { width: 33%; background: #fff; border: solid 1px; border-top: none; }
#tab-bottom-container ul li a.active { font-weight: bold; text-decoration: none; }
#tab-bottom-container .panel-container { background: #fff; border: solid 1px; border-bottom: none; padding: 10px; margin-bottom: 0; }

/* Styles for Collapsible */
#tab-collapsible-container { background: #fff; padding: 5px; border: solid 1px; }
#tab-collapsible-container ul { margin: 0; padding: 5px 5px 0; background: #ccc; border: solid 1px; }
#tab-collapsible-container ul li { display: inline-block; background: #ccc; border: solid 1px; border-bottom: none; margin: 0; }
#tab-collapsible-container ul li a { display: block; padding: 5px; outline: none; }
#tab-collapsible-container ul li a:hover { text-decoration: underline; }
#tab-collapsible-container ul li.active { background: #fff; padding-top: 6px; position: relative; top: 1px; }
#tab-collapsible-container ul li a.active { font-weight: bold; }
#tab-collapsible-container .panel-container { background: #fff; border: none; padding: 0 10px; background: #fff; }

/* Styles for Disconnected */
#tab-disconnected-container ul { height: 52px; width: 100%; list-style: none; margin: 0; padding: 0; background: #ccc; }
#tab-disconnected-container ul li { float: left; width: 33.3%; margin: 0; padding: 0; text-align: center; }
#tab-disconnected-container ul li a { display: block; padding: 15px 0; line-height: 20px; outline: none; }
#tab-disconnected-container ul li a:hover { text-decoration: underline; }
#tab-disconnected-container ul li.active { background: #fff; position: relative; left: 1px; }
#tab-disconnected-container ul li a.active { font-weight: bold; text-decoration: none; border: solid 1px; }
#tab-disconnected-container .panel-container { background: #fff; padding: 10px; border: solid 1px; }
#disconnected-tab3 { background: #fff; padding: 10px 15px; border: solid 1px #999; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 15px 0; }

/* Styles for Transition Options */
#tab-transition-container .panel-container { padding: 5px; }
#tab-transition-container .panel-container .active { padding: 0 5px; }

/* Styles for Form Sections */
.tab-container fieldset { background: #fff; }
.tab-container .field-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

/* Styles for Previous and Next buttons */
.prev-tab, .next-tab { display: block; width: 100px; text-align: center; margin-top: 10px; }
span.prev-tab, span.next-tab { background: #ccc; }
.prev-tab { float: left; }
.next-tab { float: right; }

/* Styles for Twitter Boostrap */
#twitter-bootstrap-container { background: #fff; padding: 10px; height: 75px; margin-bottom: 15px; }
