/* Google Font Import & Styles */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

 body{
 	font-family: 'Open Sans', sans-serif;
 	font-weight:400;
 }
 em {
 	font-weight:300;
 }
 h1,h2,h3,h4,h5,
 strong {
 	font-weight:700;
 }

/* LAYOUT */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-image:url('../images/bg.png');
  padding-top: 2.1em;
}
.navbar-brand{
  font-weight:bold;
  text-shadow:2px 2px 0 #ccc;
}
.top-section{
  	color:#fff;
	background-color:#000;
	background-image:url('../images/dark_fish_skin.png');
	width:100%;
	padding:2em 1em;
	margin-bottom:1em;
}
footer {
  padding: 2em 0;
}
/* INDEX*/
.jumbotron.standalone{
  margin-top: 2em;
}

/* ABOUT */
.profile{
  display:inline-block;
  position:relative;
  margin-right:1em;
}
.profile img{
  border-radius:1em;
  box-shadow: 0 0 1px #000;
  margin-bottom:.5em;
 }
.profile p{
  font-size: 1.5em;
  position: absolute;
  top: 5em;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
.profile ul{
  list-style-type:none;
  padding:0;
  text-align:center;
  margin:.5em 0 0;
}
.profile li{
  display:inline;
  color:#ccc;
}
/*ABOUT*/
.contact-list{
  list-style-type:none;
  padding-left:0;
}
#twitter-widget-0{
  margin: .5em 0;
}
/*SIGN IN*/
.signin form{
  margin-bottom:1em;
}
/*DONATE*/
.donate{
  position: absolute;
  top: 3.6em;
  right: 0;
 }
  /*
   *
   */
.changed{
  background-color: #FFFBCC;
  box-shadow: 10px 10px 5px #888;
}
.accepted {
  background-color: #81F781;
  box-shadow: 10px 10px 5px #888888;
}

.results{
  float:left;
  width:125px;
  height:300px;
  margin: 5px;
  padding: 5px;
  border:1px solid black;text-align:center;
  background-color:white;
}
.results:hover{
  background-color:#FFFBCC;
}

.binder{
  width:800px;
  margin-left: auto; 
  margin-right: auto;
}


.scroll {
    height: 20px;
    margin: 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    text-align: left;
}

.arrow {
    width: 10px;
    height: 5px;
    margin: 5px 0px 0px -webkit-calc(50% - 5px);
    position: relative;
}

.dontown {
    /* Firefox 10+, Firefox on Android */
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");

    /*IE 10+*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");

    /* IE 6-9 */
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.setlist{
    list-style:none;
}

.symbol {
    width:  20px;
    height: 20px;
}

.t_section{
    background-image:url('../images/dark_fish_skin.png');
    background-color:black;
    width:100%;
    color:white;
}

.book{
    background-image:url('../images/vertical_cloth.png');
}

.signin{
    width: 325px;
    margin-left: auto;
    margin-right: auto ;
    color:white;
}

.card{
    float:left;
    width:300px;
    text-align:center;
}

.card_info{
    float:left;
    margin-left:10px;
    width:700px;
}
.card_info_edit{
    float:left;
    margin-left:10px;
    width:300px;
}

.card_amount{
    margin-top:-15px;
    padding-bottom:5px;
}

.jumbotron{
    background-image:url('../images/main.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center; 
    border: 1px solid black;
}

.logo
{
    border:1px solid black;
    border-radius:3px;
    width:500px;
    padding:20px; 
    background:rgba(255, 255, 255, .6);
}
.logo small{
    color:#888;
    font-size:.5em;
    text-shadow: 0 -1px 0 #444;
}

/* navbar */
/*.navbar-primary .navbar { background:#CCCCCC; border-bottom: solid 1px; black; }
.navbar-primary .navbar .nav > li > a {color: #666666;}
.navbar-primary .navbar .nav > li > a {color: #666666;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #666666;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color:    #fff;background-color: #000;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#000; text-shadow: 1px 1px 1px #fff; font-weight:bold; }
.navbar-primary .navbar .nav.pull-right {margin-left: 10px;margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; } 
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 8px 8px;font-size: 16px;line-height: 18px; } 
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 7px; padding-bottom: 8px; line-height: 20px; } 
*/

/* Example Styles for Demo */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.panel-container { margin-bottom: 10px; }

/* Styles for alternate tabActiveClass */
.tab.selected-tab { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.selected-tab { font-weight: bold; }
