
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;

 }
footer {
  padding: 30px 0;
}

#sidebar {
width: 250px;
height: 200px;
margin: -100px 0px 0px -webkit-calc(100% - 280px);
position: absolute;
top: -4975px;
background: RGBa(99, 159, 217, 0.1);
display: block;
}

#arrow_container {
width: 250px;
height: 15px;
margin: -5px 0px 0px 0px;
position: absolute;
cursor: pointer;
}

#down {
background: url(http://i.imgur.com/JTxva6m.png) no-repeat 0px -45px;
}

#button {
width: 240px;
margin: 5px;
cursor: pointer;
text-decoration: none;
color: #999999;
}

#button:hover {
background: RGBa(99, 159, 217, 0.4);
}

.scroll {
height: 20px;
margin: 0px 5px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 15px;
color: #999999;
text-align: left;
}

.arrow {
width: 10px;
height: 5px;
margin: 5px 0px 0px -webkit-calc(50% - 5px);
position: relative;
}
