@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ForgotModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
	<div class="signin">
    	<form action="/forgot" method="post">
    		<div class="form-group">
        		<label for="Email">Email</label>
        		<input type="email" class="form-control" id="Email" name="Email" placeholder="Enter your email address" autofocus required/>
    		</div>
    		<button type="submit" class="btn btn-danger btn-block">Confirm Reset</button>
    	</form>
		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-primary btn-block" href="~/logon">Sign In</a>
			</div>
			<div class="col-md-6">
				<a class="btn btn-success btn-block" href="~/register">Register</a>
			</div>
		</div>
	</div>
}

