@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LogonModel>
@{
  Layout = "_Layout.cshtml";
}

<div style="width: 325px;margin-left: auto;margin-right: auto ;">
    <h4>Sign In</h4>
    <form class="form-signin" action="/logon" method="post">
        <input type="text" name="UserName" class="form-control" placeholder="Email address" required autofocus />
        <input type="password" name="Secret" class="form-control" placeholder="Password" required />
        <button class="btn btn-lg btn-primary btn-block" name="Logon" type="submit">Sign In</button>
    </form>
    <a href="~/signup">Sign up for an account</a> | <a href="~/forgot">Forgot your password?</a>
</div>