@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LogonModel>
@{
  Layout = "_Layout.cshtml";
}

@section Top
{
    <div class="signin">
        <form class="form-signin" action="/logon" method="post" role="form">
        	<input type="hidden" name="UrlRedirect" value="@Model.UrlRedirect"/>
        	<div class="form-group">
        		<label for="UserName">Planeswalker Name</label>
            	<input type="text" name="UserName" class="form-control" placeholder="Enter your planeswalker name" required autofocus />
            </div><!--/.form-group-->
			<div class="form-group">
 				<label for="Secret">Password</label>
            	<input type="password" name="Secret" class="form-control" placeholder="Enter your password" required />
            </div><!--/.form-group-->
            <button class="btn btn-lg btn-primary btn-block" name="Logon" type="submit">Sign In</button>
        </form>
		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-success btn-block" href="~/register">Register</a>
			</div>
			<div class="col-md-6">
				<a class="btn btn-danger btn-block" href="~/forgot">Forgotten Password?</a>
			</div>
		</div>
    </div>
}