@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SettingsModel>
@{
  Layout = "_Layout.cshtml";
}

@section Top
{
  	@{
  		string Possessive = (Model.Planeswalker.Profile.Name.EndsWith("s") ? "'" : "'s");
  		string PossessiveName = string.Format("{0}{1}",@Model.Planeswalker.Profile.Name,@Possessive);
  	}
   	<h4>@PossessiveName Settings</h4>
}
<div class="row">
	<div class="col-md-4">
	    <form action="/settings" method="post">
	    	<h4>Update Username/Email:</h4>
	        <div class="form-group">
	            <label for="Name">Display Name:</label>
	            <input type="text" class="form-control" name="Name" value="@Model.Planeswalker.Profile.Name"/>
	       	</div>
			<div class="form-group">
	            <label for="Name">Email:</label>
	            <input type="text" class="form-control" name="Email" value="@Model.Planeswalker.Profile.Email" />
	        </div>
	        <button class="btn btn-primary" name="Save" value="Save" type="submit">Save Changes</button>
	        <hr />
	        <h4>Change password:</h4>
	        <div class="form-group">
	        	<label for="Password">New Password:</label>
	            <input type="password" class="form-control" name="Password" placeholder="Enter new password" />
	       	</div>
			<div class="form-group">
	            <label for="ConfirmPassword">Confirm Password:</label>
	            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm new password" />
	       	</div>
	        <button class="btn btn-primary" name="ChangePassword" type="submit">Change Password</button>
	        <hr />
	        <h4>Delete account:</h4>
	        <p>This is permanent and all data will be lost!</p>
	        <div class="checkbox">
	        	<label>
	        		<input id="check-yes" type="checkbox" name="Yes" value="true" />
	        		<span class="text-danger"><strong>Yes, I know.</strong> Activate the Delete Account button!</span>
	        	</label>
	        </div>
	        <button id="delete-acct" class="btn btn-danger disabled" name="Delete" type="submit">Delete Account</button>
	    </form>
	</div>
</div>
