@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.DeckModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    <h1>My Decks <span class="label label-warning">In-Development</span></h1>
}