<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="glib-sharp, Version=2.12.0.0, Culture=neutral, PublicKeyToken=35e10195dab3c99f" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="MtgDb.Info.Driver" />
    </assemblies>
    <namespaces>
      <add namespace="MtgDb.Info" />
    </namespaces>
  </razor>
  <appSettings>
    <add key="db" value="mongodb://localhost" />
    <add key="api" value="http://127.0.0.1:8082" />
    <add key="domain" value="testing_mtgdb.info" />
    <add key="domain_key" value="ae132e62-570f-4ffb-87cc-b9c087b09dfb" />
    <add key="smtp:Server" value="smtp.gmail.com" />
    <add key="smtp:Port" value="587" />
    <add key="smtp:Logon" value="planeswalker@mtgdb.info" />
    <add key="smtp:Password" value="password" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>