@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.Card[]>
<div>
@foreach(var card in Model)
{
    <div class="col-6 col-sm-6 col-lg-4">
        <div>@card.SetNumber</div>
        <img src="@card.CardImage" />
    </div>
}
<br style="clear:both;"/>
</div>
