@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardSetList>
<select id="set_list" onchange="go();" style="width:400px;">
@foreach(var set in Model.Sets)
{
    if(Model.ActiveSet == set.Id)
    {
        <option value="@set.Id" selected>@set.Name</option>
    }
    else
    {
        <option value="@set.Id">@set.Name</option>
    }
}
</select>
<script type="text/javascript">
function format(set) {
    if (!set.id) return set.text; // optgroup
    return "<img class='flag' src='http://api.mtgdb.info/content/set_images/symbols/" + set.id.toLowerCase() + "_sym.gif'/>" + " " + set.text;
}

$(document).ready(function() { $("#set_list").select2({
    matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0; },
    formatResult: format,
    formatSelection: format,
    escapeMarkup: function(m) { return m; }
});});

function go()
{
    window.location="/sets/" + document.getElementById("set_list").value
}
</script>
