@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardSetList>
<div class="list-group">
@foreach(var set in Model.Sets)
{
    if(Model.ActiveSet == set.Id)
    {
        <a href="~/set/@set.Id" class="list-group-item active">@set.Name</a>
    }
    else
    {
        <a href="~/set/@set.Id" class="list-group-item">@set.Name</a>
    }
}
</div>