@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PageModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    <h1>About Us</h1>
}


<a href='https://pledgie.com/campaigns/23315'>
    <img class="donate" src="~/content/images/donate.png" alt="Support the project and donate!" />
</a>

<p class="lead">
	Open source tools for managing and optimizing your <strong>Magic: the gathering</strong> collection, decks, and skills.  
</p>
<p class="lead">
	<strong>MtgDb.info</strong> relies on the community to fund and help build great tools. We are always looking for help both technical and monetary. 100% of donations furthers the quality of <strong>MtgDb.info</strong>. Currently, our goal is to raise $1500 to add three more servers to the environment.
</p>
<h1>Contributors</h1>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-bullhorn"></i> Project Leaders</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/fritz.jpg" />
					<p>Fritz</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/ontehfritz">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/fritzcoder">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> Do you have experience herding cats, solving world hunger, or are just plain omnipitent? Apply today!
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-coffee"></i> Developers</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/jesse.jpg" />
					<p>Jesse</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/jesse">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/jesseflorig">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="http://www.twitter.com/jesseflorig">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you want to contribute code or have a tool you are developing and want to intergrate it into MtgDb.info, please contact: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a>
			&nbsp;<em>(Projects should use the <a href="http://www.nancyfx.org">Nancy</a> framework, C#, Mono Compatible and MongoDb for backend.)</em>
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-bug"></i> Quality Assurance</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/julianthefirst.jpg" />
					<p>Julian</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/Julian_The_First">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--a href="https://github.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--a href="http://www.twitter.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						
					</ul>
				</div><!--/.profile-->
				<div class="profile">
					<img src="~/content/images/thezappa.jpg" />
					<p>Gilles</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/thezappa">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/TheZappa">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--a href="http://www.twitter.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you helped fix data or noticed a legit error, your profile will be added here.
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-trophy"></i> Donators</h3>
	    	</div><!--/.panel-heading-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you donate, please leave your email with us and your glorious profile will be added here.
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<h1>Contact & Service Status</h1>
<ul class="contact-list">
	<li>
		<h3><a href="mailto:planeswalker@mtgdb.info"><i class="fa fa-envelope"></i> planeswalker@mtgdb.info</a></h3>
	</li>
	<li>
		<h3><a href="https://github.com/planeswalkers"><i class="fa fa-github"></i> GITHUB</a></h3>
	</li>
	<li>
		<a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</li>
</ul>


