@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PageModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    <h1>About Us</h1>
}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB3N/xKaYOwAYGHa9UYVlAw0AnuQLx3CiuPwr5yJL77vSSYUZ/w34KmHVH+NKRoRXt4VfbT4M+p62K4jAxjeg8ufo3n++0ierirK1RzXGs6ZNuN6sws6bFh9+PcjaZ66RgV2YtJdVIUpiN1poZ/gjOOk0K+XIJZU8bVT1SCQ2+H0TELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIC6WLXYnDhGWAgYjgutDERz8x+pSD1e6paJ3fTn6cr50Fzu7ZANGwhDvgFrGGhRng2bLe44fL72gG9M7l0ttSnJAV1elh7LXaI1UIjThdsBLXYKVHROV19bbokzvLjVD1tkevGwdHYDprux9da+8CtoM2qtVIZje6zwEubGsos0MgQ679FWtpFWYzuejVFsE99R8CoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwMzIzMTYzNDA3WjAjBgkqhkiG9w0BCQQxFgQUTylkSehiORciiPBmiFyrCxdti9gwDQYJKoZIhvcNAQEBBQAEgYCQOeUhnIJuGkLzKfbcFRGIx1IPITNXEVRgAXYMqHRPWV6ajTaWOa49DCh9YHIaYuPS3rrNFQi5XhYYev4gXa3vwli3GmKqyp/xPicLRqbAOZCtRvSZLqRFBXHTDQRycmwJGysJqo1ao60hbweOH2KrlDM8BKV6YnPSgzbWd4TnDw==-----END PKCS7-----
">
<input class="donate" type="image" src="https://api.mtgdb.info/content/images/donate.png" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p class="lead">
	Open source tools for managing and optimizing your <strong>Magic: the gathering</strong> collection, decks, and skills.  
</p>
<p class="lead">
	<strong>MtgDb.info</strong> relies on the community to fund and help build great tools. We are always looking for help both technical and monetary. 100% of donations furthers the quality of <strong>MtgDb.info</strong>. Currently, our goal is to raise $1,500 CAD to add three more servers to the environment.
</p>
<p class="lead">Fundraising progress:</p>
@{
	int Raised = 100;
	int Goal = 1500;
	string RaisedFormat = string.Format("${0:n0}",Raised);
	string GoalFormat = string.Format("${0:n0}",Goal);
	string Percent = (((decimal)Raised/Goal) * 100).ToString("#.##");
}
<div class="progress">
  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Percent" aria-valuemin="0" aria-valuemax="100" style="width:@Percent%;">
    	@Percent %
  	</div>
</div>
<p class="center"><strong>@RaisedFormat / @GoalFormat CAD</strong></p>
<h1>Contributors</h1>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-bullhorn"></i> Project Leaders</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/fritz.jpg" />
					<p>Fritz</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/pw/ontehfritz">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/fritzcoder">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> Do you have experience herding cats, solving world hunger, or are just plain omnipitent? Apply today!
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-coffee"></i> Developers</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/jesse.jpg" />
					<p>Jesse</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/pw/jesse">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/jesseflorig">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="http://www.twitter.com/jesseflorig">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="http://jesse.florig.org">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
					</ul>
				</div><!--/.profile-->
				<div class="profile">
					<img src="~/content/images/joey.jpg" />
					<p>Joey</p>
					<ul>
						<li>
							<!--a href="https://www.mtgdb.info/pw"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/alotau">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="http://www.twitter.com/joeylrios">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="http://www.littlepancake.com">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you want to contribute code or have a tool you are developing and want to intergrate it into MtgDb.info, please contact: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a>
			&nbsp;<em>(Projects should use the <a href="http://www.nancyfx.org">Nancy</a> framework, C#, Mono Compatible and MongoDb for backend.)</em>
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-bug"></i> Quality Assurance</h3>
		  	</div><!--/.panel-heading-->
		 	<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/julianthefirst.jpg" />
					<p>Julian</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/pw/Julian_The_First">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--a href="https://github.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--a href="http://www.twitter.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
					</ul>
				</div><!--/.profile-->
				<div class="profile">
					<img src="~/content/images/thezappa.jpg" />
					<p>Gilles</p>
					<ul>
						<li>
							<a href="https://www.mtgdb.info/pw/thezappa">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<a href="https://github.com/TheZappa">
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				</a>
			  			</li>
						<li>
							<!--a href="http://www.twitter.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you helped fix data or noticed a legit error, your profile will be added here.
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title"><i class="fa fa-trophy"></i> Donators</h3>
	    	</div><!--/.panel-heading-->
			<div class="panel-body">
				<div class="profile">
					<img src="~/content/images/you.jpg" />
					<p>You</p>
					<ul>
						<li>
							<!--a href="https://www.mtgdb.info/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--a href="https://github.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--a href="http://www.twitter.com/"-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--/a-->
			  			</li>
						<li>
							<!--<a href="">-->
								<span class="fa-stack fa-lg">
								  	<i class="fa fa-square fa-stack-2x"></i>
								  	<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
								</span>
			  				<!--</a>-->
			  			</li>
					</ul>
				</div><!--/.profile-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i> If you donate, please leave your email with us and your glorious profile will be added here.
		</div><!--/.alert-->
	</div><!--/.col-md-12-->
</div><!--/.row-->
<h1>Contact & Service Status</h1>
<ul class="contact-list">
	<li>
		<h3><a href="mailto:planeswalker@mtgdb.info"><i class="fa fa-envelope"></i> planeswalker@mtgdb.info</a></h3>
	</li>
	<li>
		<h3><a href="https://github.com/planeswalkers"><i class="fa fa-github"></i> GitHub</a></h3>
	</li>
	<li>
		<h3><a href="https://twitter.com/mtgdb"><i class="fa fa-twitter"></i> Twitter</a></h3>
	</li>
    <li>
        <h3><a href="https://jabbr.net/#/rooms/mtgdbinfo"><i class="fa fa-comment"></i> Chat Room</a></h3>
    </li>
</ul>
