@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PageModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    <h1 style="color:white">About</h1>
}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB3N/xKaYOwAYGHa9UYVlAw0AnuQLx3CiuPwr5yJL77vSSYUZ/w34KmHVH+NKRoRXt4VfbT4M+p62K4jAxjeg8ufo3n++0ierirK1RzXGs6ZNuN6sws6bFh9+PcjaZ66RgV2YtJdVIUpiN1poZ/gjOOk0K+XIJZU8bVT1SCQ2+H0TELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIC6WLXYnDhGWAgYjgutDERz8x+pSD1e6paJ3fTn6cr50Fzu7ZANGwhDvgFrGGhRng2bLe44fL72gG9M7l0ttSnJAV1elh7LXaI1UIjThdsBLXYKVHROV19bbokzvLjVD1tkevGwdHYDprux9da+8CtoM2qtVIZje6zwEubGsos0MgQ679FWtpFWYzuejVFsE99R8CoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwMzIzMTYzNDA3WjAjBgkqhkiG9w0BCQQxFgQUTylkSehiORciiPBmiFyrCxdti9gwDQYJKoZIhvcNAQEBBQAEgYCQOeUhnIJuGkLzKfbcFRGIx1IPITNXEVRgAXYMqHRPWV6ajTaWOa49DCh9YHIaYuPS3rrNFQi5XhYYev4gXa3vwli3GmKqyp/xPicLRqbAOZCtRvSZLqRFBXHTDQRycmwJGysJqo1ao60hbweOH2KrlDM8BKV6YnPSgzbWd4TnDw==-----END PKCS7-----
">
<input type="image" src="http://api.mtgdb.info/content/images/donate.png" style="position: absolute; top: 25px; right: 0; border: 0;" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p class="lead">
Open tools for managing and optimizing your Magic: the gathering cards and skills.  
</p>

<p class="lead">
  mtgdb.info relies on the community to fund and help build mtgdb.info tools. We are always looking for help and donations. 
  All money donated is used to further the quality of mtgdb.info. 
  We are looking to raise <b>$1500 CAD</b> <small><b><i>(Status: $100/$1500)</i></b></small> to add three more servers 
  to the environment. 
</p> 

<h1>Contributors</h1>

<h3>Project Leaders<h3>
<div>
<a href="/pw/ontehfritz"><img style="width:80px;height:80px;" 
  src="https://avatars1.githubusercontent.com/u/875813" /></a>
<h3><small><a href="https://github.com/fritzcoder">Fritz</a></small></h3>
</div>

<h3>Developers/Engineers</h3>
<div>
<a href="/pw/jesse"><img style="width:80px;height:80px;" src="https://avatars1.githubusercontent.com/u/2729384" /></a>
<h3><small><a href="https:///github.com/jesseflorig">Jesse</a></small></h3>
</div>

<p>If you want to contribute code or have a tool you are developing and want to intergrate it into mtgdb.info, 
please contact: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a></p>
<p>All web code should use the <a href="http://www.nancyfx.org">Nancy</a> framework, C#, Mono Compatible and mongodb for backend.</p>


<h3>Quality</h3>
<div style="float:left;width:100px;">
<a href="/pw/Julian_The_First">
<img style="width:80px;height:80px;" src="~/content/images/julian_the_first.png" /></a>
<h3><small>Julian <br /></small></h3>
</div>
<div style="float:left;width:100px;">
<a href="/pw/thezappa">
<img style="width:80px;height:80px;" src="~/content/images/theZappa.jpeg" /></a>
<h3><small><a href="https://github.com/TheZappa">Gilles</a><br /></small></h3>
</div>
<br style="clear:both;" />
If you helped fix data or noticed a legit error. Your profile will be added here. 

<h3>Donators</h3>
If you donate, please leave your email with us to get your profile added here. 

<h1>Contact and Service status</h1>
<ul style="list-style:none;">
    <li>
        <a href="mailto:planeswalker@mtgdb.info"><span class="glyphicon glyphicon-envelope"></span> planeswalker@mtgdb.info</a>
    </li>
    <li>
        <a href="https://github.com/planeswalkers"><span class="glyphicon glyphicon-folder-open"></span> GitHub</a>
    </li>
    <li>
        <a href="https://jabbr.net/#/rooms/mtgdbinfo"><span class="glyphicon glyphicon-comment"></span> Chat </a> 
    </li>
    <li>
    <a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
</ul>