@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PageModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    <h1 style="color:white">About</h1>
}


<a href='https://pledgie.com/campaigns/23315'><img style="position: absolute; top: 25px; right: 0; border: 0;" 
src="~/content/images/donate.png" alt="Support the project and donate." /></a>

<p class="lead">
Open tools for managing and optimizing your Magic: the gathering cards and skills.  
</p>

<p class="lead">
  mtgdb.info relies on the community to fund and help build mtgdb.info tools. We are always looking for help! If you have
  some change to spare click the donate link and make a donation. All money donated is used to further the quality of mtgdb.info.
  We are currently looking to add servers to the environment and looking to raise $1500 to put in place
  three more servers. 
</p> 

<h1>Contributors</h1>

<h3>Project Leaders<h3>
<div>
<a href="https://github.com/fritzcoder"><img src="~/content/images/fritz.jpg" /></a>
<h1><small>Fritz</small></h1>
</div>

<h3>Developers/Engineers</h3>
<p>If you want to contribute code or have a tool you are developing and want to intergrate it into mtgdb.info. 
Please contact: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a></p>
<p>All web code should use the <a href="http://www.nancyfx.com">Nancy</a> framework, C#, Mono Compatible and mongodb for backend.</p>


<h3>Quality</h3>
If you helped fix data or noticed a legit error. Your profile will be added here. 

 

<h3>Donators</h3>
If you donate, please leave your email with us to get your profile added here. 


<h1>Contact and Service status</h1>
<ul style="list-style:none;">
<li>
<a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a>
</li>
<li>
<a href="https://github.com/planeswalkers">GITHUB</a>
</li>
<li>
<a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
</ul>


