@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.BookModel>
@{
  Layout = "_Layout.cshtml";
}

<div class="row">
    <div id="test" class="">
      
        <div class="row">
            <div class="panel panel-default book" style="background-color:black;">
            <div class="panel-heading" style="height:50px;">
            <ul class="pager" style="height:30px;margin:0px;">
                <li class="previous"><a href="?Page=@Model.PrevPage">&larr; Back</a></li>
                <li>@Html.Partial("_SetsDropDown", Model.SetList)</li>
                @if(Model.Cards != null && Model.Cards.Count > 0)
                {
                    <li class="next"><a href="?Page=@Model.NextPage">Next &rarr;</a></li>
                }
                else
                {
                    <li class="next"><a href="#">End</a></li>
                }
            </ul>
            </div>
            <div class="panel-body">
            @if(Model.Cards != null && Model.Cards.Count > 0)
            {
                @Html.Partial("_Cards", Model.Cards.ToArray())
            }
            else
            {
                <div class="alert alert-info alert-dismissable">
                    End of set or there are no cards available for this set.
                </div>
            }
            </div>
            <div class="panel-footer">
            <ul class="pager">
                <li class="previous"><a href="?Page=@Model.PrevPage">&larr; Back</a></li>
                <li>Page @Model.Page</li>
                @if(Model.Cards != null && Model.Cards.Count > 0)
                {
                    <li class="next"><a href="?Page=@Model.NextPage">Next &rarr;</a></li>
                }
                else
                {
                    <li class="next"><a href="#">End</a></li>
                }
            </ul>
            </div>
            </div>
        </div>
    </div><!--/span-->
</div><!--/row-->
