@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PageModel>
@{
  Layout = "_Layout.cshtml";
}

@section Top
{
    <h1 style="color:white">Help</h1>
}

<h4>
    For errors, questions, suggestions, and anything at all contact:<br />
    <small><a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a></small>
</h4>
<p>Please send a screenshot or paste the errors in your email.</p>

<h4>What is this ALPHA version thingy?</h4>
<p>
    This is a very early release, so/and therefore we expect some hiccups and bumps. However, 
    we want to make this tool as great as possible!
    We appreciate your early input. We'll make frequent small releases at this phase, 
    and once things are stable we'll move onto BETA.
</p>

<h4>I can't sign in, sign up, or reset my password, HELP P P p p ...?</h4>
<p>Contact Us!</p>

<h4>What is the benefit of signing up?</h4>
<p>
    When you sign up, you get access to great tools such as "MyCards" where you can keep record of your card inventory.
    Tools will be enhanced and new tools added regularly.
</p>

<h4>After I sign in, why are some cards grey?</h4>
<p>
   This is to indicate that you do not have this card in your inventory. You can add cards through browsing the set binders,
   searching and in the My Card sections.  
</p>

<h4>On My Cards, all I see is cards I own. How can I see cards I don't have?</h4>
<p>
   Each set tab is a toggle button. Once a tab is active, you can click the tab again. The tab will turn green indicating
   the tab is showing all cards. You will now see all cards available and cards you don't own will be grey. You can then 
   mouse over and add cards on the popover. 

   To see only the cards you do own again, click the tab agian. It should no longer be green and only displaying cards in 
   your library.  
</p>

<h4>Tell us why you don't use mtgdb.info?</h4>
<p>
   If you play "Magic: The gathering" and you don't need to use mtgdb.info, think it is a waste of time, or just SUX THE BIG ONE! 
   Please contact us and tell us why. 
</p>

<h4>I want to help with mtgdb.info, what can I do?</h4>
<p>
   We are always looking for help. Currently, this an open source project and unfunded. So, we rely soley on the
   community. 

   <h4>What does mtgdb.info need ... </h4>
   <ul>
        <li><b>Donations</b></li>
        <li>
            <b>Content Providers</b>
            We need people to provide us with up-to-date and accurate information. Once the "Open Database" features are 
            released, we will rely on the community to make the information as accurate and complete as possible. People
            who consistently contibute quality content will be recognized. 
        </li>
        <li>
            <b>Graphics, icons, design ...</b>
            We're looking for talented artists!
        </li>
        <li>
            <b>Codewalkers</b>
            Code help is always welcome: frontend, backend, or whatever end ;) Have a MTG tool you are working on 
            want to intergrate it with mtgdb.info. Get in touch with us! 
        </li>
        <li>Will I get paid money for any contributions or is mtgdb.info hiring? Currently, no; 
        but you never know what the future will bring.</li>
   </ul>
   <h4>See <a href="~/about">About</a> for more information.</h4>
</p>

