@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.IndexModel>
@{
  Layout = "_Layout.cshtml";
}
<div class="row">
    <div id="test" class="">
        <div class="jumbotron">
            <div class="logo">
                <h1>M:tgDb <small>[ALPHA]</small></h1>
                <p>
                    <b>Magic: the gathering open database project</b>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:-30px;">
            <div class="col-6 col-sm-6 col-lg-4">
                <h2><img src="/content/images/logo.png"/> Open Db</h2>
                <b>(Coming soon)</b>
                <p>
                The database is open, meaning that the community can add and edit the information for cards and sets.
                </p>
                <p>
                    <a href="~/cards/289213">
                    <img src="https://api.mtgdb.info/content/card_images/289213.jpeg" style="width:55px;height:77px;" />
                    </a>
                    <a href="~/cards/1">
                    <img src="https://api.mtgdb.info/content/card_images/1.jpeg" style="width:55px;height:77px;" />
                    </a>
                    <a href="~/cards/36119">
                    <img src="https://api.mtgdb.info/content/card_images/36119.jpeg" style="width:55px;height:77px;" />
                    </a>
                    <a href="~/cards/189213">
                    <img src="https://api.mtgdb.info/content/card_images/189213.jpeg" style="width:55px;height:77px;" />
                    </a>
                    <a href="~/cards/600">
                    <img src="https://api.mtgdb.info/content/card_images/600.jpeg" style="width:55px;height:77px;" />
                    </a>
                </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2><img src="/content/images/hammer.png"/> Tools</h2>
                <p><a href="~/signup">Sign up</a> for an account and get access to great "Magic:the gathering" tools</p>
                <h4>My Cards</h4>
                <p>
                My Cards allows you to keep track of your own card library. 
                </p>
                <h4>Yet another deck builder</h4>
                <p>(Coming soon)</p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2><img src="/content/images/gears.jpg"/> API</h2>
                <p>
                    <a href="~/content/download/MtgDb.Info.Driver.zip"><span class="label label-default">C#</span></a>
                </p>
                <p>
                <b>More Languages on the way!</b>
                No screen scraping nessecary, all information that is on M:TG DB is available through the easy to use 
                API. You can use the API directly or use one our wrappers.
                </p>
                <p><a class="btn btn-default" href="http://api.mtgdb.info" role="button">View API &raquo;</a></p>
            </div><!--/span-->
        </div><!--/row-->
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Please note this is an ALPHA pre-release. There may be bugs and other issues. During this phase please submit 
            any issues, bugs, and errors to: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a> 
            or create an issue on: <a href="https://github.com/planeswalkers/www.mtgdb.info/issues">GitHub</a>
        </div>
    </div><!--/span-->
</div><!--/row-->
