@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.IndexModel>
@{
  Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="container">
        <div class="jumbotron standalone">
            <div class="logo">
                <h1>M:tgDb <small>ALPHA</small></h1>
                <p>
                    <b>Magic: the gathering open database project</b>
                </p>
            </div>
        </div>
		<div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            	<i class="fa fa-times"></i>
            </button>
            <p><strong>Please note this is an ALPHA pre-release.</strong> There may be bugs and other issues. During this phase please submit 
            any issues, bugs, and errors to: <a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a> 
            or create an issue on: <a href="https://github.com/planeswalkers/www.mtgdb.info/issues">GitHub</a></p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h2><i class="fa fa-users"></i> Open Db</h2>
                <p>
                	<strong>In development:</strong><em>add/edit sets</em>
                </p>
                <p>
                	The database is open, meaning that the community can add and edit the information for the cards.
                </p>
                <p>
                    @foreach(var card in Model.RandomCards)
                    {
                        <a href="~/cards/@card.Id">
                        <img src="@card.CardImage" style="width:55px;height:77px;" />
                        </a>
                    }
                </p>
            </div><!--/span-->
            <div class="col-sm-6 col-md-4">
                <h2><i class="fa fa-wrench"></i> Tools</h2>
                <p>
                	<a href="~/register">Sign up</a> for an account and get access to great "Magic:the gathering" tools
                </p>
                <h4>My Cards</h4>
                <p>
                	My Cards allows you to keep track of your own card library.
                </p>
                <h4>My Decks</h4>
                <p>
                	(Coming soon) Yet another deck builder
                </p>
            </div><!--/span-->
            <div class="col-sm-6 col-md-4">
                <h2><i class="fa fa-gears"></i> API</h2>
                <p>
                    <a href="https://api.mtgdb.info/content/download/MtgDb.Info.Driver.zip"><span class="label label-default">C#</span></a>
                    <a href="https://alotau.github.io/Java-API-to-mtgdb/"><span class="label label-default">Java</span></a>
                </p>
                <p>
	                <strong>More languages on the way!</strong>
	                No screen scraping nessecary, all information that is on M:TG DB is available through the easy to use 
	                API. You can use the API directly or use one of our wrappers.
                </p>
                <p>
                	<strong>Have an application that uses the api?</strong> Get your logo here ...
                </p>
                <p>
                	<a class="btn btn-info" href="http://api.mtgdb.info" role="button">View API &raquo;</a>
                </p>
            </div><!--/span-->
        </div><!--/row-->

    </div><!--/span-->
</div><!--/row-->
