@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.IndexModel>
@{
  Layout = "_Layout.cshtml";
}
<div class="row">
    <div id="test" class="">
      @if(Model.Cards != null && Model.Cards.Count > 0)
      {
        <div class="row">
            <div style="width:100%;text-align:center;padding:5px;">

            </div>
            <div class="panel panel-default">
            <div class="panel-heading" style="height:50px;">
            <ul class="pager" style="height:30px;margin:0px;">
                <li class="previous"><a href="?Page=@Model.PrevPage">&larr; Back</a></li>
                <li>@Html.Partial("_SetsDropDown", Model.SetList)</li>
                <li class="next"><a href="?Page=@Model.NextPage">Next &rarr;</a></li>
            </ul>
            </div>
            <div class="panel-body">
            @Html.Partial("_Cards", Model.Cards.ToArray())
            </div>
            <div class="panel-footer">
            <ul class="pager">
                <li class="previous"><a href="?Page=@Model.PrevPage">&larr; Back</a></li>
                <li>Page @Model.Page</li>
                <li class="next"><a href="?Page=@Model.NextPage">Next &rarr;</a></li>
            </ul>
            </div>
            </div>
        </div>
      }
      else
      {
        <div class="jumbotron" 
        style="background-image:url('content/images/main.png');background-repeat:no-repeat;background-size: cover;border: 1px solid black;">
        <h1>M:tgDb <small>[ALPHA]</small></h1>
        <p>
            <b>Magic: the gathering open database project</b>
        </p>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Open Database <small>(Coming soon)</small></h2>
            <p>
            The database is open, meaning that the community can add and edit the information for cards and sets.
            You can submit a change, the change will be reviewed, you will be notfie
            </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>The tools</h2>
                <p><a href="~/signup">Sign up</a> for an account and get access to great "Magic:the gathering" tools</p>
                <h4>My Cards</h4>
                <p>
                My Cards allows you to keep track of your own card library. 
                </p>
                <h4>Yet another deck builder</h4>
                <p>Coming soon</p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>The API</h2>
                <p><a href="http://api.mtgdb.info">api.mtgdb.info</a></p>
                <p>
                No screen scraping nessecary, all information that is on M:TG DB is available through the easy to use 
                API. You can use the API directly or use one our wrappers.
                </p>
                <p><a class="btn btn-default" href="http://api.mtgdb.info" role="button">View API &raquo;</a></p>
            </div><!--/span-->
        </div><!--/row-->
    
        }
    </div><!--/span-->

    <div id="sidebar">
    </div><!--/span-->
</div><!--/row-->
