@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PlaneswalkerModel>
@using System.Collections.Generic;
@using  MtgDb.Info;
@{
  Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            @foreach(KeyValuePair<string int> k in Model.Sets)
            {
                <li>
                    <a href="#">
                    <span class="badge pull-right">@k.Value</span>
                    @k.Key
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-8">

    </div><!--/span-->


</div>
