@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "_Layout.cshtml";
}

<div class="alert alert-info">
You have no cards yet in your library. Browse the sets and start adding cards Planeswalker!
</div>

